.Nav {
  display: flex;
  align-items: center;
  margin-top: 50px;
  color:#888
}

.Link {
  text-decoration: none;
  color:#888
}

.LogoutButton {
  
}


/*@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }*/