 * {
  box-sizing: border-box;
  font-family: montserrat,sans-serif;
  background-color: pink;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color:#888
}






